@import "./theme/semantic.less";

body {
	background-color: #FFF;

	/* Full height */
	height: 100%;
}

.top-menu {
	opacity: .6;

	&:hover {
		opacity: 1;
	}

	.ui.attached.menu:not(.tabular) {
		border: 0;
	}
}

.b2c-page {
	.page-header {
		opacity: .6;
		background-color: #FFF;

		.logo {
			position: relative;
			top: -20px;
		}
	}
}

.site-container {
	&::before {
		content: "";
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.reservation-picker {
	margin: 100 auto 0 auto;

	@media only screen and (min-width: 1024px) {
		margin-top: 200px;
	}

	.hotel-selector {
		margin: 10px 0 20px 0;
	}

	.reservation-wrapper {
		.reservation-selection {
			max-width: 700px;
			padding: 10px 30px 30px 30px;
			border-radius: 9px;
			background-color: #FFF;
		}
	}
}

.validate-reservation {
	margin: 100 auto 0 auto;

	label {
		text-align: left;
	}

	@media only screen and (min-width: 1024px) {
		margin-top: 200px;
	}
}

.date-display {
	max-width: 175px;
	cursor: pointer;

	.header {
		font-size: 1.1em;
		color: #608fb3;
	}

	&.ui.grid > .column:not(.row) {
		padding-bottom: 1px;
	}

	&.ui.grid > .display.row {
		padding-top: 2px;
	}

	.day {
		box-sizing: content-box;
		font-size: 50px;
		font-weight: bold;
	}

	.month {
		box-sizing: content-box;
		font-size: 22px;
		font-weight: bold;
	}

	.year {
		box-sizing: content-box;
		font-size: 20px;
		font-weight: bold;
	}
}
